{% extends "organization/project_wrapper.html" %}
{% load i18n %}

{% block page_title %}{% trans "Resources" %} | {% endblock %}
{% block left-nav %}resources{% endblock %}

{% block extra_head %}
<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
{% endblock %}

{% block content %}

<div class="col-md-12 content-single">
  <div class="row">
    <!-- Main text  -->
    <div class="col-md-12 main-text">
      <div class="page-title">
        <h2>{% trans "Resources" %}</h2>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          {% if is_allowed_add_resource %}
          <div class="top-btn pull-right top-add">
            {% if has_unattached_resources %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_existing' project=object.slug organization=object.organization.slug %}">
            {% else %}
            <a class="btn btn-primary btn-sm" href="{% url 'resources:project_add_new' project=object.slug organization=object.organization.slug %}">
            {% endif %}
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans "Attach" %}</a>
          </div>
          {% endif %}
          <div id="paginated-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block form_modal %}
{% include 'resources/modal_unarchive.html' with unarchive_url="#" %}
{% endblock %}

{% block extra_script %}
<script src="/static/dist/paginated-table.js"></script>
<script type="text/javascript">
  var context = {
    layout: [
      { title: "{% trans 'Resources' %}", columns: 4 },
      { title: "{% trans 'Type' %}", columns: 1 },
      { title: "{% trans 'Contributor' %}", columns: 2 },
      { title: "{% trans 'Last Updated' %}", columns: 2 },
      { title: "{% trans 'Attached to' %}", columns: 2 },
      { title: null, columns: 1 },
    ],
    url: "{% url 'api:v1:resources:project_list' project=object.slug organization=object.organization.slug %}",
    limit: 10
  }

  ReactDOM.render(
    React.createElement(PaginatedTable, context, null),
    document.getElementById('paginated-table')
  );
</script>
{% endblock %}
